.contacts {
  background-color: var(--whiteColor);
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 8px;
  margin: auto;
  max-width: var(--maxViewport, 1024px);
}
